In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_X = pd.read_csv("train_X.csv")
df_X.head()

,Unnamed: 0,ENSG00000000003,ENSG00000000005,ENSG00000000419,ENSG00000000457,ENSG00000000938,ENSG00000000971,ENSG00000001036,ENSG00000001084,ENSG00000001167,...,ENSG00000282651,ENSG00000282815,ENSG00000282939,ENSG00000283063,ENSG00000283439,ENSG00000283463,ENSG00000283526,ENSG00000283586,ENSG00000283632,ENSG00000283697
0,EB0D68BC-5FF9-44A5-A355-CA5441BFBA0A,7.062725,0.026623,6.720413,5.449267,3.868619,4.587771,7.165112,4.643161,6.771731,...,0.325987,-5.545564,-5.545564,-5.545564,-5.545564,4.014351,4.841392,-5.545564,5.855893,3.618253
1,0876B4BB-58BA-4C4C-84F4-E9D19EF96147,5.965392,-5.431256,6.358498,4.161479,4.585293,4.326924,6.849703,4.391534,5.819945,...,5.910874,-0.945029,3.750430,1.611211,-0.498573,3.430928,3.160435,-5.431256,4.413930,3.353496
2,EACD1021-7B52-4531-8806-B7555B73AC84,7.892221,-5.851870,8.132992,5.986320,5.422599,4.728815,8.168477,6.289562,7.331591,...,10.103565,-5.851870,6.498217,5.481945,-5.851870,5.137298,4.296777,-5.851870,5.345372,5.028567
3,368ACD26-C7FB-4974-BB7F-0AE22670CB0E,6.826546,0.964851,5.998280,4.991435,4.963000,4.977695,7.149421,4.570863,6.008286,...,2.442099,-5.994056,2.862038,1.909955,0.568120,4.768694,3.983207,-5.994056,4.609411,4.329472
4,F23B0A1A-25AE-41D9-8C49-B692C4FDE1E4,7.059095,2.429954,6.746639,5.591316,5.111120,5.972938,7.576201,6.032083,6.470761,...,5.553223,-5.870484,3.044916,-5.870484,0.018320,4.640575,4.954957,-5.870484,4.620774,4.464277

In [3]:
df_X.describe()

,ENSG00000000003,ENSG00000000005,ENSG00000000419,ENSG00000000457,ENSG00000000938,ENSG00000000971,ENSG00000001036,ENSG00000001084,ENSG00000001167,ENSG00000001460,...,ENSG00000282651,ENSG00000282815,ENSG00000282939,ENSG00000283063,ENSG00000283439,ENSG00000283463,ENSG00000283526,ENSG00000283586,ENSG00000283632,ENSG00000283697
count,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,...,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000,444.000000
mean,6.798864,-1.251875,6.867482,5.092604,4.249074,4.951573,7.179084,5.241762,6.152933,4.498626,...,3.650685,-4.019460,2.852973,0.532640,-3.685311,4.131878,3.000574,-5.558757,4.313466,3.944751
std,0.657958,3.487385,0.649468,0.557108,0.974955,1.245837,0.635931,0.803235,0.556726,0.770503,...,3.537927,2.779953,2.558302,3.758160,2.842395,0.743549,2.396337,1.893713,0.798173,0.755219
min,3.865658,-8.167826,3.921938,2.686933,0.635382,1.559740,4.091881,1.961100,3.491674,0.877428,...,-8.025671,-8.093499,-7.791345,-7.821501,-8.093499,1.289553,-7.174879,-8.167826,-0.430043,0.899681
25%,6.447793,-5.483300,6.546906,4.765809,3.630805,4.075300,6.844709,4.783474,5.828785,4.045615,...,2.240973,-5.966191,2.295934,-0.131155,-5.899284,3.706238,1.768129,-6.599244,3.882128,3.511135
50%,6.852772,0.213298,6.938184,5.093077,4.238058,4.896219,7.207127,5.155404,6.157952,4.492328,...,4.101297,-5.425883,3.333111,1.984213,-5.168411,4.119857,3.473621,-5.861161,4.348660,3.944781
75%,7.226415,1.184977,7.269660,5.435893,4.935047,5.948701,7.594792,5.664817,6.468815,4.950106,...,5.794548,-1.497067,4.331129,3.146919,-0.619910,4.611680,4.724469,-5.445569,4.810073,4.425701
max,8.642886,9.451403,8.598549,6.988089,7.650225,8.220311,8.916491,8.810685,7.702358,7.233636,...,12.370689,5.137566,7.188701,7.083282,2.026253,6.738504,7.181350,1.982121,6.661020,6.684243

In [4]:
len(df_X.columns)

17971

In [8]:
only1 = []
for k in df_X.columns:
    if df_X[k].nunique() != df_X.shape[0]:
        only1.append(df_X[k].nunique())

In [6]:
df_y = pd.read_csv("train_y.csv")
df_y.head()

                             Unnamed: 0  xml_neoplasm_histologic_grade
0  EB0D68BC-5FF9-44A5-A355-CA5441BFBA0A                              0
1  0876B4BB-58BA-4C4C-84F4-E9D19EF96147                              1
2  EACD1021-7B52-4531-8806-B7555B73AC84                              0
3  368ACD26-C7FB-4974-BB7F-0AE22670CB0E                              0
4  F23B0A1A-25AE-41D9-8C49-B692C4FDE1E4                              1

In [7]:
df_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444 entries, 0 to 443
Columns: 17971 entries, Unnamed: 0 to ENSG00000283697
dtypes: float64(17970), object(1)
memory usage: 60.9+ MB